<!DOCTYPE html>
<html>
<head>
  <title>Sanjose</title>
  <link href='http://fonts.googleapis.com/css?family=Bilbo' rel='stylesheet' type='text/css'>
  <%= include_javascripts :common%>
  <%= include_javascripts :templates, :application%>
  <%= include_stylesheets :common%>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="logo">San Jose Deals</div>
<%= yield %>

</body>
</html>
